*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
w3m/.w3m/w3mcache*
w3m/.w3m/w3msrc*
w3m/.w3m/w3mtmp*
w3m/.w3m/history
/bower_components/
/log
/node_modules/
/tmp
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
/tags

.idea/
.ionide/
.projectile/
.vscode
.vscode/
.zed

dump.rdb
acme.dump

