*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
w3m/.w3m/w3mcache*
w3m/.w3m/w3msrc*
w3m/.w3m/w3mtmp*
w3m/.w3m/history
w3m/.w3m/cookie
w3m/.w3m/known_hosts
w3m/.w3m/*.txt
/bower_components/
/log
/node_modules/
/tmp
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
/tags
emacs/.emacs.d/auto-save-list/*
emacs/.emacs.d/backups/*
emacs/.emacs.d/custom.el
emacs/.emacs.d/history
emacs/.emacs.d/recentf
emacs/.emacs.d/transient/*
emacs/.emacs.d/emms/*
emacs/.emacs.d/eshell/*
emacs/.emacs.d/elpa/*
emacs/.emacs.d/elfeed/*
